.header
  = render 'layouts/header'
.row-wrapper.shirt
  .row
    .twelve.columns
      = render 'shirts/show_shirt'

.row-wrapper.designer
  .row
    .twelve.columns
      = render 'designers/show_designer'
.row-wrapper.offer
  .row
    .twelve.columns
      =render 'layouts/offer'
