.four.columns
  %h3 Want to have stuff designed?
  .radius.large.button{:href => "#"}
    Yes!
.four.columns
  %h3 How about to print your awesome shirt?
  .success.large.radius.button{:href => "#"}
    Why Not?
.four.columns
  %h3 Contact us for no reason at all?
  .secondary.radius.large.button{:href => "#"}
    Sure
-#.four.columns
  -#%h2 How about to print your shirt?
  -#=button_tag "#", "Why Not?", :class=>"success radius button"
-#.four.columns
  -#%h2 Contact us for no definite reason at all?
  -#=button_tag "#", "Sure", :class=>"secondary radius button"

